<div class="ticket" *ngFor="let ticket of ticketIds; let i = index">
  <div class="p-grid  p-nogutter">
    <div class="p-col-fixed p-col-align-baseline" style="width: 130px;">
      <img align="right" style="height: 48px; width: 64px" src="assets/images/forklift.png">
    </div>
    <div class="p-col p-col-align-baseline">
      <h1>Pick Ticket</h1>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
    <div class="p-col-12">
      <div class="small-heading">Request ID:</div>
    </div>
    <div class="p-col-6 p-offset-4">
        <div class="barcode">*P{{ (ticketDetails[i] | async)?.row_id.toString().padStart(5, '0') }}*</div>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
    <div class="p-col-12">
      <div class="small-heading">Pick Location:</div>
    </div>
    <div class="p-col-12">
      <div class="small-heading">
        <div class="big-text">{{ (ticketDetails[i] | async)?.yard_location }}</div>
      </div>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
    <div class="p-col-12">
      <div class="small-heading">SKU:</div>
    </div>
    <div class="p-col-12">
      <div class="small-heading">
        <div class="big-text">{{ (ticketDetails[i] | async)?.item_id }}</div>
      </div>
    </div>
    <div class="p-col-12">
      <div class="small-heading">Quantity:</div>
    </div>
    <div class="p-col-12">
      <div class="small-heading">
        <div class="big-text">{{ (ticketDetails[i] | async)?.qty_req }} Units</div>
      </div>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Desctiption:</div>
    </div>
    <div class="p-col-9">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.item_desc }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Request Date/Time:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.req_date_local | date: 'MM/dd/yyyy h:mm a' }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Requested By:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.user_desc }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Department:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.ent_name }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Pack Size:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.pack_size }} {{ (ticketDetails[i] | async)?.uom_desc }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Total Quantity:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ ((ticketDetails[i] | async)?.pack_size) * ((ticketDetails[i] | async)?.qty_req) }} {{ (ticketDetails[i] | async)?.uom_desc }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Rework:</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.rework ? 'Yes' : 'No' }}</div>
    </div>
    <div class="p-col-3">
      <div class="small-heading">Remarks:</div>
    </div>
    <div class="p-col-9">
      <div class="small-heading">{{ (ticketDetails[i] | async)?.remarks }}</div>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
  </div>
</div>
