.body-content {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 80px;
}
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 2px;
  }
}

