<clr-datagrid>
  <clr-dg-column>Date Requested</clr-dg-column>
  <clr-dg-column>Material</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Quantity</clr-dg-column>
  <clr-dg-column>Department</clr-dg-column>
  <clr-dg-column>Yard Location</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>

  <clr-dg-row *ngFor="let request of requests">
      <clr-dg-cell>{{request.req_date_local | date: 'MM/dd/yyyy h:mm:ss a'}}</clr-dg-cell>
      <clr-dg-cell>{{request.item_id}}</clr-dg-cell>
      <clr-dg-cell>{{request.item_desc}}</clr-dg-cell>
      <clr-dg-cell>{{request.qty_req}}</clr-dg-cell>
      <clr-dg-cell>{{request.ent_name}}</clr-dg-cell>
      <clr-dg-cell>{{request.yard_location}}</clr-dg-cell>
      <clr-dg-cell [class]="fix(request.state_desc)">{{request.state_desc}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{requests.length}} requests</clr-dg-footer>
</clr-datagrid>
