.NEW {
  background-image: linear-gradient(to right, #00d4ff, #00ffff) !important;
  /*background-color:aqua !important; */
}

.IN_PROCESS {
  background-image: linear-gradient(to right, #F7971E, #FFD200) !important;
  /*background-color:orange !important; */
  color: white !important
}

.AWAITING {
  background-image: linear-gradient(to right,#579137, #99ff61) !important;
  /*background-color:limegreen !important;*/
  color: white !important
}

.COMPLETE {
  background-image: linear-gradient(to right,rgb(0, 0, 150), rgb(81, 81, 255)) !important;
  color: white !important
}


.CANCELLED {
  background-image: linear-gradient(to right,rgb(255, 0, 0), rgb(253, 97, 97)) !important;
  background-color:red !important;
  color: white !important
}
